.App {
  text-align: left;
}


.left{
  min-height:100vh;
  display:flex;
  background-color:aqua;
  width:15%;
  float:left;
}

.right{
  min-height:100vh;
  display:flex;
  background-color:rgb(255, 148, 214);
  width:85%;
}